# Data Science Tools and Ecosystem

## _In this notebook, Data Science Tools and Ecosystem are summarized._

_Objectives:_

+ Java
+ Javascript
+ Julia
+ R
+ Python

### Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. VBA

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Pandas
4. SciPy

| Data Science Tools|
|-------------------|
| Apache Spark       |
| Python             |
| R                  |

### Â Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5.

17.0

In [9]:
# This will convert 200 minutes to hours by diving by 60

In [10]:
(200)/60

3.3333333333333335

## Author

_Aboa Anouma Marie Emmanuelle Ledon_